/*************************************************
    GENERAL STYLES
 *************************************************/
:root {
  --bar-clr: rgb(44, 62, 80);
  --title-w-clr: #ffff;
  --title-b-clr: #000;
  --footer-clr: rgb(58, 84, 109);
  --accent-clr: rgb(26, 188, 156);
}